@use "~/helpers" as helpers;
@use "sass:map";

.container {
  .icon, .before, .content, .after, .disabled, .focus, .sizeSmall, .sizeMedium, .sizeLarge {
    /* */
  }

  @include helpers.colors-classes() using($colors) {
    color: map.get($colors, 500);

    &:hover {
      color: map.get($colors, 600);
    }

    &:active, &.active {
      color: map.get($colors, 700);
    }
  }
}
