// Border size
$border-none: 0 !default;
$border-md: 1px !default;
$border-lg: 2px !default;
$border-xl: 4px !default;

// Border radius
$radius-none: 0 !default;
$radius-sm: 4px !default;
$radius-md: 8px !default;
$radius-lg: 16px !default;
$radius-full: $radius-sm !default;
