// Width
$width-xs: 160px;   // extra small panel (half mobile width)
$width-sm: 480px;   // small panel, typical dialogs, side-panels
$width-md: 640px;   // medium panel, common dialog size, modals
$width-lg: 960px;   // large panels, detailed views or modals with extensive content
$width-xl: 1280px;  // extra-large panels, suitable for wide content or complex layouts

// Height
$height-xs: 200px;
$height-sm: 360px;
$height-md: 480px;
$height-lg: 720px;
$height-xl: 900px;
